@import "quasar.variables.scss";

$custom-background-color: #fefefe;
$custom-icon-color: #514e5d;
$custom-text-grey: #aba9b1;
$profile-menu-icon-color: #2f2b3de6;
$profile-logout-button-color: #e64449;
$font-color: #6e6b7b;
